/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
   -fx-background-color: #999c9c;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #46494a;
    -fx-border-color: #46494a;
     -fx-border-radius: 30;
    -fx-font:13px Verdana;
   
}
.button-1 {
   -fx-background-color: #46494a;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #58C5CA;
    -fx-border-color: #58C5CA;
     -fx-border-radius: 30;
    -fx-font:13px Verdana;
   
}
.button-1:pressed, .button:default:hover:pressed {
  -fx-background-color: #999c9c;
}
.button-2 {
   -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: #00a0cc;
    -fx-border-color: #00a0cc;
     -fx-border-radius: 30;
     -fx-font-family: Verdana;
    
   
}
.checkBox {
    -fx-text-fill: white;
}

.scroll .scroll-bar:vertical .thumb,
.scroll .scroll-bar:horizontal .thumb{
    -fx-background-color: #58C5CA;
    
}
.scroll .scroll-bar:vertical ,
.scroll .scroll-bar:horizontal {
    -fx-background-color:#46494a;
    
}

.scroll .increment-button:hover,
.scroll .decrement-button:hover {
	-fx-background-color: #58C5CA;
}
.root{
	-fx-background-color: #46494a;
}

.splitPane{
	-fx-border-color: #59C2C6;
}
.split-pane-divider {
   -fx-background-color: #46494a;
   -fx-padding: 3 3 3 9;
   -fx-border-color: #46494a;
}
.split-pane-divider-horizontal {
   -fx-background-color: #59C2C6;
   -fx-padding: 2;
   -fx-border-color: #59C2C6;
}
.split-pane-divider-vertical {
   -fx-background-color: #59C2C6;
   -fx-padding: 3 11 3 11;
   -fx-border-color: #59C2C6;
}
.titulo{
	-fx-font-family: Verdana;
	-fx-text-origin: white;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #46494a;
}

.tree-cell {
  -fx-background-color: white;
  -fx-font-family: 10 pt "Verdana";
  -fx-text-fill: #46494a;
  
}
.tree-cell:selected {
    -fx-background-color: #57BDC2;
}
.label {
	-fx-text-fill: #46494a;
    -fx-font: 10pt "Segoe UI Semibold"; 
    -fx-opacity: 0.7; 
}
.label-resultado {
	-fx-text-fill: #46494a;
    -fx-font: 10pt "Segoe UI Semibold"; 
    -fx-opacity: 1; 
}
.label-header {
    -fx-font-size: 18 pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #46494a;
    -fx-opacity: 1;
}
.label-subheader {
    -fx-font-size: 14 pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #46494a;
    -fx-opacity: 1;
}
.label-rosa{
	-fx-text-fill: #E86752;
    -fx-font: 10pt "Segoe UI Semibold"; 
    -fx-opacity: 1; 
    -fx-font-weight: 900;
}
.label-blanco{
	-fx-text-fill: white;
    -fx-font: 10pt "Segoe UI Semibold"; 
    -fx-opacity: 1; 
}
.text-area {
  -fx-background-color: #F4F4F4;
  -fx-font-family: "Verdana";
  -fx-text-fill: #46494a;
  
}
.text-area .content{
      -fx-background-color:#F4F4F4 ;
  }
.alert {
	-fx-background-color: #999c9c;
}


/* 
 * Colores
 * verde agua: #08b5cc 58C5CA 59C2C6 57BDC2
 * gris oscuro: #46494a 2D2D2D
 * blanco
 * gris claro: #999c9c 959697
 * */