T__0=1
T__1=2
T__2=3
T__3=4
T__4=5
T__5=6
T__6=7
T__7=8
T__8=9
CONFIG=10
MENUCONFIG=11
CHOICE=12
ENDCHOICE=13
COMMENT=14
MENU=15
ENDMENU=16
MAINMENU=17
SOURCE=18
DEPENDS=19
ON=20
PROMPT=21
OPTION=22
SELECT=23
DEFAULT=24
RANGE=25
OPTIONAL=26
IF=27
ENDIF=28
ENV=29
DEFCONFIG_LIST=30
TRISTATE=31
BOOL=32
BOOLEAN=33
INT=34
STRING=35
HEX=36
ALLNOCONFIG_Y=37
MODULES=38
VISIBLE=39
Reserved_words=40
SYMBOL=41
WORD_QUOTE=42
SLASH=43
DASH=44
DASHES=45
NEWLINE=46
WS=47
';'=1
'='=2
'TODO'=3
'!'=4
'||'=5
'&&'=6
'!='=7
'('=8
')'=9
'config'=10
'menuconfig'=11
'choice'=12
'endchoice'=13
'comment'=14
'menu'=15
'endmenu'=16
'mainmenu'=17
'source'=18
'depends'=19
'on'=20
'prompt'=21
'option'=22
'select'=23
'range'=25
'optional'=26
'if'=27
'endif'=28
'env'=29
'defconfig_list'=30
'tristate'=31
'bool'=32
'boolean'=33
'int'=34
'string'=35
'hex'=36
'allnoconfig_y'=37
'modules'=38
'visible'=39
'\\'=43
